<div class="container-fluid mt-4">
    <div class="row d-flex justify-content-center">
        <div class="col-9">
            <p>ScanCam.xyz is a webassembly-based camera document scanner. <br><br> This web app works offline which means that
                once the files are loaded no data is sent to any server and your data stays on your device.</p>
            <p> This is an experimental project, is and very probably will always be a work-in-progress.</p>
            <p> For questions or ideas, drop me a line at info@scancam.xyz</p>
        </div>
    </div>
</div>